body,
html {
  margin: 0;
}

body h1,
body h3,
html h1,
html h3 {
  margin: 0;
}

#black-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#black-logo img {
  fill: #1c3144;
  width: 90%;
}

@media (min-width: 950px) {
  #black-logo img {
    width: 40%;
  }
}

body {
  background: url("../images/curcuit-board.jpg");
  background-repeat: repeat;
  background-size: contain;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  margin: 0;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.hamburger {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 40%;
  z-index: 30;
}

.hamburger i {
  color: #1c3144;
  font-size: 75px;
  margin: 10px 10px 0 15px;
  width: 50%;
  float: right;
}

.hamburger i:active {
  color: #3f88c5;
}

@media (min-width: 950px) {
  .hamburger {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .hamburger i {
    float: left;
    font-size: 125px;
    margin: 30px 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .hamburger i:hover {
    color: #3f88c5;
  }
}

#logo-div {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 60%;
}

#logo-div img {
  width: 95%;
  margin: 20px 20px;
}

@media (min-width: 950px) {
  #logo-div {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #logo-div img {
    width: 60%;
    margin: 20px 20px;
    float: right;
  }
}

#sub-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

#sub-menu a {
  text-decoration: none;
  color: #1c3144;
}

#sub-menu h2 {
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
}

#sub-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 32%;
  border: 1px solid #1c3144;
}

#sub-menu div:hover {
  background-color: #f0f0f0;
}

@media (min-width: 950px) {
  #sub-menu div {
    width: 33%;
  }
  #sub-menu h2 {
    font-size: 30px;
  }
}

@media (min-width: 950px) and (max-width: 1060px) {
  #sub-menu h2 {
    font-size: 20px;
  }
}

.landing-section-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 2px;
  border: 1px solid #1c3144;
  margin-top: 10px;
  width: 100%;
}

@media (min-width: 950px) {
  .landing-section-services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.landing-top-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.landing-top-image img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  margin-bottom: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

@media (min-width: 950px) {
  .landing-top-image {
    width: 70%;
  }
  .landing-top-image img {
    border-radius: 0;
    padding: 5px;
    width: 90%;
  }
}

.landing-top-image-odd {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.landing-top-words-odd {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.landing-top-words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-top-words h1, .landing-top-words h2, .landing-top-words p {
  color: #1c3144;
  padding: 15px;
}

.landing-top-words a {
  text-decoration: none;
}

.landing-top-words h1 {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 30px;
}

.landing-top-words h2 {
  font-family: "Muli", sans-serif;
}

.landing-top-words p {
  font-family: "Martel", serif;
}

@media (min-width: 950px) {
  .landing-top-words {
    width: 30%;
  }
}

main {
  width: 99%;
}

@media (min-width: 950px) {
  main {
    width: 99%;
    max-width: 1200px;
  }
}

#menu-open {
  opacity: 0;
  position: fixed;
  pointer-events: none;
  background-size: cover;
  left: 0;
  padding-top: 120px;
  top: 0;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 20;
}

#menu-open ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  text-align: center;
}

#menu-open ul a, #menu-open li {
  text-decoration: none;
  font-family: "Muli", sans-serif;
  font-weight: bolder;
  color: #1c3144;
  font-size: 40px;
  padding: 20px 0 0 0;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#menu-open ul a:hover, #menu-open ul a :active, #menu-open li:hover, #menu-open li :active {
  color: #3a658c;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 99%;
  max-width: 1200px;
  border: 1px solid #1c3144;
  margin-top: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

@media (min-width: 950px) {
  nav {
    margin-top: 10px;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.landing-vendors-section {
  background-color: #f9f9f9;
  border-radius: 2px;
  border: 1px solid #1c3144;
  margin-top: 10px;
  width: 100%;
}

.landing-vendors-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-vendors-title h2 {
  width: 90%;
  text-align: center;
  color: #1c3144;
  font-family: "Nunito Sans", sans-serif;
  border-bottom: 1px solid #1c3144;
  -webkit-box-shadow: 0 1px #3f88c5;
          box-shadow: 0 1px #3f88c5;
}

@media (min-width: 950px) {
  .landing-vendors-title h2 {
    font-size: 40px;
  }
}

.landing-vendors-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-vendors-logos a {
  width: 30%;
  margin: 5px;
}

.landing-vendors-logos a img {
  width: 100%;
  -webkit-box-shadow: 1px 1px 2px #3f88c5, -1px -1px #ffba08;
          box-shadow: 1px 1px 2px #3f88c5, -1px -1px #ffba08;
  border-radius: 3px;
}

@media (min-width: 950px) {
  .landing-vendors-logos a {
    width: 20%;
    margin: 8px;
    padding: 3px;
  }
  .landing-vendors-logos a:hover {
    opacity: .5;
  }
}

.services-title {
  width: 100%;
  background: #f2f2f2;
  margin-top: 10px;
  border: 1px solid #1c3144;
  border-radius: 2px;
  font-family: "Nunito Sans", sans-serif;
  color: #1c3144;
}

.services-title h2 {
  width: 100%;
  text-align: center;
  margin: 0;
}

@media (min-width: 950px) {
  .services-title h2 {
    font-size: 50px;
  }
}

.services-card-selected img {
  opacity: 1;
}

.services-card-not-selected img {
  opacity: .3;
}

.services-card {
  background-color: #f9f9f9;
  border-radius: 2px;
  border: 1px solid #1c3144;
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
  height: 75px;
  overflow: hidden;
}

.services-card img {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.services-card:hover {
  cursor: pointer;
}

@media (min-width: 950px) {
  .services-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 48%;
    height: 100px;
  }
}

.service-heading {
  position: absolute;
}

.service-heading h2 {
  font-family: "Muli", sans-serif;
  color: #1c3144;
  margin: 0 10px;
  text-shadow: 3px 3px #f9f9f9;
  font-size: 35px;
}

@media (min-width: 950px) {
  .service-heading h2 {
    font-size: 40px;
    margin-left: 20px;
    margin-top: 15px;
  }
}

@media (min-width: 950px) {
  .service-heading {
    width: auto;
  }
}

.service-description p {
  font-family: "Martel", serif;
  padding: 5px;
  color: #1c3144;
}

.service-description a {
  color: #1c3144;
  font-size: 30px;
  padding: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service-description a:hover {
  color: #d00000;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3f88c5;
  border-top: 1px solid #1c3144;
  margin-top: 20px;
}

.footer-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #1c3144;
}

.phone {
  color: #f9f9f9;
  text-shadow: 1px 1px #1c3144;
}

.footer-service {
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #1c3144;
  -webkit-box-shadow: 2px 2px #1c3144;
          box-shadow: 2px 2px #1c3144;
  background-color: #66a0d1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-service:hover {
  cursor: pointer;
  background-color: #ffba08;
}

.footer-service a {
  text-decoration: none;
  color: #f9f9f9;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px #1c3144;
}

@media (min-width: 950px) {
  .footer-service {
    width: 40%;
    height: 25px;
  }
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links ul a {
  text-decoration: none;
  color: #f9f9f9;
  text-shadow: 1px 1px #1c3144;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  padding: 3px;
}

.footer-links ul a:active {
  color: #3f88c5;
}

.footer-links ul a li {
  text-align: center;
}

@media (min-width: 950px) {
  .footer-links {
    width: 50%;
    margin-top: 15px;
  }
  .footer-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-links ul a {
    font-size: 25px;
  }
}

@media (min-width: 950px) {
  .footer-links-social-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-social img {
  fill: red;
  width: 50px;
}

@media (min-width: 950px) {
  .footer-social {
    width: 50%;
    margin-top: 15px;
  }
}

.footer-developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-developer a {
  padding: 5px;
  text-decoration: none;
  color: #1c3144;
}
/*# sourceMappingURL=landing.css.map */